
/* watchpoint admin custom */
header + .p-4.pt-0 {
  padding-top:1.0rem;
}

.bell{
  display:flex;
  justify-content: center;
}

.lucide-bell + .bg-primary{
    display:flex;
  justify-content: center;
}

.portrait-60 {
  width:64px;
  height:64px;
}